* {
    background-color: #02111B;
}

.green {
    color:#B2FFA9;
}

ul, p {
    color: white;
}

#header {
    display: flex;
    justify-content: space-between;
}

.work{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgb(102, 235, 120);
    border-radius: 5px;
}

.wrapper > * {
    flex: 1 100%;
}