* {
    background-color: #02111B;
}

.green {
    color:#B2FFA9;
}

ul, p {
    color: white;

}

#header {
    display: flex;
    justify-content: space-between;
}

.work{
    display: flex;
    justify-content: space-evenly;
}

.wrapper{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 #E5E7E6;
    border-radius: 5px;
    line-height: 150%;
}